@import './normalize';

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: auto;
}

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #FFF;
  background-color: #161616;

  &.disable-scroll {
    overflow-y: hidden;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
input[type='number'],
input[type='url'],
textarea {
  appearance: none;
}
input::-ms-clear {
  display: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}

button,
a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
button:focus,
a:focus {
  outline: none;
}
a {
  color: #FFF;
}

img {
  width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
p {
  margin: 0;
}

#app {
  min-height: 100vh;

  display: flex;
  flex-flow: column;
}
